/* ==UserStyle==
@name           Fullscreen Waffle
@namespace      codeberg.org/j-w/Userstyles
@version        1.0.0
@description    A frameless experience
@license        GPL-3.0-or-later
@author         Jack W.
@updateURL      https://codeberg.org/j-w/Userstyles/raw/branch/main/src/Fullscreen-Waffle.user.css
@homepageURL    https://codeberg.org/j-w/Userstyles/src/branch/main/src/Fullscreen-Waffle.user.css
@supportURL     https://codeberg.org/j-w/Userstyles/issues
==/UserStyle== */
@-moz-document domain("wafflegame.net") {
	.venatus-ads.with-banner .top-banner-container {
		display: none !important
	}

	.venatus-ads.with-banner {
		--game-width: 100vw !important;
	}
}
