/* ==UserStyle==
@name           R2V2
@namespace      codeberg.org/j-w/Userstyles
@version        1.0.1
@description    R-2283 with Etcetera's Mocha design system
@author         Jack W. (https://cetera.uk/#jack)
@license        GPL-3.0-or-later
@preprocessor   stylus
@var            checkbox ctp "Catpucccin (Mocha & Latte)" 0
@updateURL      https://codeberg.org/j-w/Userstyles/raw/branch/main/src/R2V2.user.styl
@homepageURL    https://codeberg.org/j-w/Userstyles/src/branch/main/src/R2V2.user.styl
@supportURL     https://codeberg.org/j-w/Userstyles/issues
==/UserStyle== */
home-layout()
	body
		display: grid
		margin: 0 auto
		max-width: 1280px
		background: var(--base)
		column-gap: 1ch
		grid-template-rows: 40px 28px 1fr
		grid-template-columns: 1fr 28px
		row-gap: 2ch

@-moz-document domain("r-2283.vercel.app")
	// Mau used a lot of position: absolute as he's never heard of flexbox. We need to undo that.
	*:not(.CodeMirror *)
		position: unset !important
		box-sizing: border-box
		box-shadow: none !important
		color: var(--text) !important

	if (ctp)
		:root
			--accent: #f5e0dc // rosewater
			--error: #f38ba8
			--text: #c6d0f5
			--surface1: #43465a
			--surface0: #313244
			--base: #1e1e2e

			@media (prefers-color-scheme: light)
				--accent: #de9584 // rosewater
				--error: #d20f39
				--text: #4c4f69
				--surface1: #bcc0cc
				--surface0: #ccd0da
				--base: #eff1f5
	else
		:root
			--base: black
			--surface0: #111
			--surface1: #222
			--text: white
			--error: rgb(255, 57, 57)

	#scripts
		position: static
		display: grid
		flex: 1
		align-content: baseline
		overflow: visible
		margin-top: 0 !important
		padding: 0
		width: 100%
		transform: none
		grid-row: 3
		grid-column: 1 / 3
		grid-template-columns: repeat(auto-fill, minmax(340px, 1fr))
		gap: 1ch

	#scripts, .topbar
		background: none

	// .stype: It says "File" for everything on a site where you host only files, wasting space. If we want to revive this, it should be an icon to tell you if it's a script or a file.
	// .topbar .title: You have the tab title, you don't need this
	// #avatarList div: This is a seperator in the avatar dropdown. We've converted that to a menu, so this makes no sense
	// #TlightM: This button toggles light/dark mode. However, R2V2 uses prefers-color-scheme, so this is useless.
	.stype, .topbar .title, #avatarList div, #TlightM
		display: none !important

	#addScript, #newRoom
		margin-left: 0 !important
		width: 100% !important
		height: 100% !important
		font-weight: bold
		font-size: 20px
		transform: none !important
		grid-row: 2
		grid-column: 2

	.scriptElement
		display: flex
		align-items: center
		margin: 0 !important
		padding: 1ch
		max-height: 48px
		border: 1px solid var(--surface1)
		border-radius: 0.25rem
		background: var(--surface0)
		gap: 1ch

		p
			flex-grow: 1

	.generic
		font-size: 12px !important

	button, a, .infoP
		display: flex
		flex-direction: row
		justify-content: center
		align-items: center
		padding: 5px
		border: 1px solid var(--surface1) !important
		border-radius: 0.25rem !important
		background: var(--surface0) !important
		filter: drop-shadow(0px 1px 2px black) !important

		&[style=" opacity:0.6;"].edit
			display: none

		&:not([disabled="true"]):not([style=" opacity:0.6;"]) // Yes, a space at the start. Mau is fucking dumb and has never heard of [disabled].
			cursor: pointer

			&:hover
				background: var(--surface1) !important

			&:active
				background: var(--surface2) !important

	.infoP
		margin-top: 0
		width: 30px
		height: 30px
		filter: none

	.bg
		position: fixed !important

		&[style="display: block;"]
			display: flex !important

		.prompt
			background: var(--base)
			transform: none !important

	#search, #cmd
		margin-left: 0
		padding-left: 0.5ch
		width: 100%
		height: 100%
		border: 1px solid var(--surface1) !important
		border-radius: 0.25rem
		background: var(--surface0) !important
		transform: none
		grid-row: 2
		grid-column: 1
		padding-inline: 2px

	.scriptElement div:nth-child(2), #avatarList, .topbar
		display: contents !important

	.topbar div
		display: flex
		margin-top: 10px
		width: max-content !important
		height: 30px !important
		transform: none !important
		grid-column: 1
		grid-row: 1
		gap: 1ch

		img
			width: 30px !important

	#avatarList *1
		width: max-content
		white-space: pre

	#TresetSID, #TlogOut
		border: none !important
		background: var(--error) !important
		color: var(--base) !important

@-moz-document url("https://r-2283.vercel.app/"), url("https://r-2283.vercel.app/secureloader")
	home-layout()

@-moz-document url("https://r-2283.vercel.app/secureloader"), url("https://r-2283.vercel.app/secureLoader")
	home-layout()

	.scripts
		grid-template-columns: repeat(auto-fill, minmax(635px, 1fr)) !important

		> .generic
			transform: none !important

	.scriptElement
		filter: none

		button
			margin-top: 0 !important
			margin-left: 0 !important

		br
			display: none

		img
			width: auto !important
			height: 150% !important
			transform: none !important
		
		// In Firefox, favorite scripts aren't at the top. Time for a workaround!
		&:has(img[src="/cdn/favorite-true.png"])
			order: -1

	// "Edit room" prompt
	#userList
		background-color: var(--surface0)
		transform: none

		.user
			display: flex
			align-items: center
			background-color: var(--surface1)
			gap: 1ch

			*
				position: unset !important
				margin: 0 !important

	#copyL
		margin: 0 0 0 0 !important

	.prompt button
		display: inline

@-moz-document url-prefix("https://r-2283.vercel.app/remote/")
	body
		display: flex
		flex-direction: column
		min-height: 100vh
		background: var(--base) !important
		gap: 1ch

	.topbar > img
		display: none

	#cmd
		order: 500
		height: 28px
		font-size: 12px

	#log
		flex-grow: 1
		width: 100%
		background: none
		filter: none
		scrollbar-width: unset

	*
		margin: 0 !important

	[style="z-index:3;pointer-events:none;position:absolute;right:20px;bottom: 20px;overflow-x:hidden;width: 200px;padding: 10px;"] // WTF?
		display: none

@-moz-document url-prefix("https://r-2283.vercel.app/editor/")
	body
		display: grid
		background: var(--base) !important
		grid-template-areas: "topbar topbar" "moduleTitle code" "modules code"
		grid-template-columns: 100px 1fr
		grid-template-rows: 40px 100px 1fr

	*:not(.CodeMirror *)
		margin: 0 !important

	.button
		width: max-content !important

	#users
		display: none // Was meant for collaborative editing, never finished
		width: 100% !important
		height: 100% !important

	#area
		width: 100% !important
		height: 100% !important
		grid-area: code

	#modules
		width: 100% !important
		height: 100% !important
		border: none
		background: none
		grid-area: modules

	.moduleTitle
		display: flex
		flex-direction: column
		justify-content: space-evenly
		width: 100% !important
		height: 100% !important
		border: none
		background: none
		grid-area: moduleTitle

		.moduleTitle2, a img
			transform: none !important

	[style="z-index:3;pointer-events:none;position:absolute;right:20px;bottom: 20px;overflow-x:hidden;width: 200px;padding: 10px;"] // WTF?
		display: none

	.topbar
		display: flex !important
		flex-direction: column
		align-items: center !important
		align-content: flex-start !important
		width: 100vw !important
		height: 100% !important
		grid-area: topbar

		#sname
			display: none

		.listed
			display: flex
			align-items: center

			.list
				display: contents

			#editorMore
				display: none
